# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# This will make my .gitignore to ignore all of my .env files (including my .env.production file)
.env*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.env.production
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# This excludes the "media" folder.
media/

## This excludes the "vendor" stuff from the "static" folder of the 2 Bootstrapmade themes.
#mysite/static/flexstart
#mysite/static/nice-admin
/fly.toml

mysite/static/wagtailadmin
mysite/static/wagtaildocs
mysite/static/wagtailembeds
mysite/static/wagtailimages
mysite/static/wagtailsnippets
mysite/static/wagtailusers
/static/wagtailadmin/css/panels/draftail.css
/static/wagtailadmin/css/panels/draftail.js
/static/wagtailadmin/css/panels/streamfield.css
/static/wagtailadmin/css/panels/streamfield.js
/static/wagtailadmin/css/core.css
/static/wagtailadmin/css/core.js
/static/wagtailadmin/images/icons/arrow-down.svg
/static/wagtailadmin/images/icons/arrow-left.svg
/static/wagtailadmin/images/icons/arrow-right.svg
/static/wagtailadmin/images/icons/arrow-up.svg
/static/wagtailadmin/images/icons/check.svg
/static/wagtailadmin/images/icons/cross.svg
/static/wagtailadmin/images/icons/home.svg
/static/wagtailadmin/images/icons/radio-full.svg
/static/wagtailadmin/images/icons/spinner.svg
/static/wagtailadmin/images/icons/tag.svg
/static/wagtailadmin/images/icons/warning.svg
/static/wagtailadmin/images/bg-body.svg
/static/wagtailadmin/images/bg-dark-diag.svg
/static/wagtailadmin/images/bg-light-diag.svg
/static/wagtailadmin/images/default-user-avatar.png
/static/wagtailadmin/images/email-header.jpg
/static/wagtailadmin/images/favicon.ico
/static/wagtailadmin/images/transparency.svg
/static/wagtailadmin/js/telepath/blocks.js
/static/wagtailadmin/js/telepath/telepath.js
/static/wagtailadmin/js/telepath/widgets.js
/static/wagtailadmin/js/vendor/bootstrap-modal.js
/static/wagtailadmin/js/vendor/bootstrap-transition.js
/static/wagtailadmin/js/vendor/jquery.ba-throttle-debounce.min.js
/static/wagtailadmin/js/vendor/jquery.datetimepicker.js
/static/wagtailadmin/js/vendor/jquery.datetimepicker.js.LICENSE.txt
/static/wagtailadmin/js/vendor/jquery.fileupload.js
/static/wagtailadmin/js/vendor/jquery.fileupload-process.js
/static/wagtailadmin/js/vendor/jquery.iframe-transport.js
/static/wagtailadmin/js/vendor/jquery-3.6.0.min.js
/static/wagtailadmin/js/vendor/jquery-3.6.0.min.js.LICENSE.txt
/static/wagtailadmin/js/vendor/jquery-ui-1.13.2.min.js
/static/wagtailadmin/js/vendor/jquery-ui-1.13.2.min.js.LICENSE.txt
/static/wagtailadmin/js/vendor/mousetrap.min.js
/static/wagtailadmin/js/vendor/rangy-core.js
/static/wagtailadmin/js/vendor/tag-it.js
/static/wagtailadmin/js/vendor/urlify.js
/static/wagtailadmin/js/vendor/uuidv4.min.js
/static/wagtailadmin/js/vendor/xregexp.min.js
/static/wagtailadmin/js/bulk-actions.js
/static/wagtailadmin/js/chooser-modal.js
/static/wagtailadmin/js/chooser-widget.js
/static/wagtailadmin/js/chooser-widget-telepath.js
/static/wagtailadmin/js/comments.js
/static/wagtailadmin/js/core.js
/static/wagtailadmin/js/core.js.LICENSE.txt
/static/wagtailadmin/js/date-time-chooser.js
/static/wagtailadmin/js/draftail.js
/static/wagtailadmin/js/draftail.js.LICENSE.txt
/static/wagtailadmin/js/expanding-formset.js
/static/wagtailadmin/js/filtered-select.js
/static/wagtailadmin/js/icons.js
/static/wagtailadmin/js/modal-workflow.js
/static/wagtailadmin/js/page-chooser.js
/static/wagtailadmin/js/page-chooser-modal.js
/static/wagtailadmin/js/page-chooser-telepath.js
/static/wagtailadmin/js/page-editor.js
/static/wagtailadmin/js/preview-panel.js
/static/wagtailadmin/js/privacy-switch.js
/static/wagtailadmin/js/sidebar.js
/static/wagtailadmin/js/sidebar.js.LICENSE.txt
/static/wagtailadmin/js/task-chooser.js
/static/wagtailadmin/js/task-chooser-modal.js
/static/wagtailadmin/js/userbar.js
/static/wagtailadmin/js/vendor.js
/static/wagtailadmin/js/vendor.js.LICENSE.txt
/static/wagtailadmin/js/wagtailadmin.js
/static/wagtailadmin/js/workflow-action.js
/static/wagtaildocs/js/add-multiple.js
/static/wagtaildocs/js/document-chooser.js
/static/wagtaildocs/js/document-chooser-modal.js
/static/wagtaildocs/js/document-chooser-telepath.js
/static/wagtailembeds/js/embed-chooser-modal.js
/static/wagtailimages/images/Jcrop.gif
/static/wagtailimages/js/vendor/canvas-to-blob.min.js
/static/wagtailimages/js/vendor/jquery.fileupload-image.js
/static/wagtailimages/js/vendor/jquery.fileupload-validate.js
/static/wagtailimages/js/vendor/jquery.Jcrop.min.js
/static/wagtailimages/js/vendor/load-image.min.js
/static/wagtailimages/js/add-multiple.js
/static/wagtailimages/js/focal-point-chooser.js
/static/wagtailimages/js/image-chooser.js
/static/wagtailimages/js/image-chooser-modal.js
/static/wagtailimages/js/image-chooser-telepath.js
/static/wagtailimages/js/image-url-generator.js
/static/wagtailsnippets/js/snippet-chooser.js
/static/wagtailsnippets/js/snippet-chooser-telepath.js
/static/wagtailusers/js/group-form.js
