{% extends "dashboard-layout.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <!-- Title -->
    <h1>{{ page.title }}</h1>

        <!-- This will render confirmation messages, both of success or error messages -->
    {% if messages %}

        <!-- Flash messages.

        If the message is a success message, it will be displayed in green; meanwhile, if it is an error message,
        it will be displayed in red.
        -->
        <ul class="messages" style="list-style-type:none">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <li class="{{ message.tags }}" style="color: green">
                        {{ message }}
                    </li>
                {% elif message.tags == 'error' %}
                    <li class="{{ message.tags }}" style="color: red">
                        {{ message }}
                    </li>
                {% else %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Brief description of the page -->
    <div class="intro">{{ page.intro|richtext }}</div>

    <!-- This will show the links to all the Products in a table.

    I added an ID, a class, and a style to the table so that the table works with the DataTable() function from
    datatables.net while looking good at the same time.

    In this code, the <thead> tag is used to create a header for the table, and the <th> tags are used to create the
    header cells. The <tbody> tag is used to create the body of the table, and the <tr> and <td> tags are used to create
    the rows and cells of the table. The "for" loop is used to iterate over each product and create a new row for each
    one.
    -->
    <table id="product-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Intro</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            {% for post in page.get_children %}
                <tr>
                    <td><a href="{% pageurl post %}">{{ post.title }}</a></td>
                    <td>{{ post.specific.intro }}</td>
                    <td>{{ post.specific.body|richtext }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    {#    {% for post in page.get_children %}#}
    {#        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>#}
    {#        {{ post.specific.intro }}#}
    {#        {{ post.specific.body|richtext }}#}
    {#    {% endfor %}#}

    <script>
        /* This will insert the JS so that the DataTable of datatables.net works. */

        /* I will use the following datatable: https://datatables.net/examples/basic_init/scroll_x.html */

        /* This datatable will NOT use a modal: it will use a horizontal overflow, and you will have to scroll
        horizontally.

        I need to add the ID of the table inside the DataTable() function so that the datatables.net plugin can
        detect my table and add its corresponding CSS and JS functionalities.
        */

        new DataTable('#product-table', {
            scrollX: true

        });
    </script>
{% endblock %}