{% extends "dashboard-layout.html" %}

<!-- Load the wagtailimages_tags. This should load the Images from Wagtail to render the Product Images -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}


    <!-- This adds the White "Card" container to the form -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

                <br>

                <!-- Display the Product's Title -->
                <h1>{{ page.title }}</h1>

                <br>
                <br>

                <!-- This renders the images, if the Product has any.

                 I added a ton of line breaks (<br>) so that the images always look inside the "card"
                 that contains the text.

                 I changed the resizing rule. To avoid cropping, you can use the width or height rule
                 instead of fill. The width rule resizes the image to the specified width while maintaining
                 the original aspect ratio. The height rule does the same but with the specified height.
                 Please note that using width or height might result in images that are smaller or larger
                 than expected if their aspect ratio is significantly different from the 320x240 ratio. If
                 maintaining the exact dimensions is crucial, you might need to consider other solutions,
                 such as modifying the images themselves to fit the desired aspect ratio.

                 I need to use the variable "gallery_images_for_products" to access the images from the datatabase
                 for the selected Product.
                 -->
                {% for item in page.gallery_images_for_products.all %}

                    <!-- "Float" doesn't accept "inline-start", so I'll use "left". This way, the images
                     should appear to the left side of the screen.
                     -->
                    <div style="float: left; margin: 10px;">
                        {% image item.image width-320 %}
                        <p>{{ item.caption }}</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                {% endfor %}

                <!-- Product Name -->
                <p><b>Product Name:</b></p>
                <p>{{ page.product_name }}</p>

                <!-- SKU Code -->
                <p><b>SKU:</b></p>
                <p>{{ page.sku_code }}</p>

                <!-- Description -->
                <p><b>Description:</b></p>
                <p>{{ page.description }}</p>

                <!-- Unit of measurement -->
                <p><b>Unit of measurement:</b></p>
                <p>{{ page.unit_of_measurement }}</p>

                <!-- Product Category -->
                <p><b>Category:</b></p>
                <p>{{ page.category }}</p>

                <!-- Product Price -->
                <p><b>Price:</b></p>
                <p>${{ page.list_price }}</p>


                <!-- <p class="meta">{{ page.date }}</p>

                <div class="intro">{{ page.intro }}</div> -->

                {{ page.body|richtext }}

                <!-- Add a link to the parent page (to go back to the previous page) -->
                <p><a href="{{ page.get_parent.url }}">Return to the List of Products</a></p>

            </div>
          </div>
        </div>
      </div>
    </section>  <!-- End of the White "Card" container -->

{% endblock %}