{% extends "blog-layout.html" %}

<!-- Terms and Conditions-->

<!-- This loads the Wagtail tags that I will use in this template -->
{% load wagtailcore_tags navigation_tags wagtailuserbar %}

<!-- This loads my CSS and JS -->
{% load static %}

<!-- I need this Wagtail tag to get my Navbar and my URL "views" from Wagtail -->
{% get_site_root as site_root %}

<!-- Load wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

{#    <!-- Title of the Page -->#}
{#    <h1>{{ page.title }}</h1>#}

    <div class="intro">{{ page.intro|richtext }}</div>

    <!-- Main content -->
    <main id="main">


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <!-- Div for the entirety of the List of Blog Entries. -->
          <div class="col-lg-8 entries">

            <!-- "For" loop with the list of all the blog entries.

             Each item is a preview of a blog entry. Each preview of the blog entry will have a small image and a URL to the
             page with the detailed view of that corresponding blog entry.

             The "original" filter is added as a filter spec to the "image" tag. This will prevent the
             TemplateSyntaxError from being raised and the image will be displayed in its original dimensions. The image
             Wagtail snippet code will display the blog post's main image in its original dimensions if it exists, and
             it will have the CSS class img-fluid.
            -->

            {% for post in blogpages %}
                {% with post=post.specific %}
                    <!-- Article (a blog entry). -->
                    <article class="entry">
                        <h2 class="entry-title">
                            <a href="{% pageurl post %}">{{ post.title }}</a>
                        </h2>
                        <!-- This fixes the bug that makes the images to cover the titles of the Blog Entries. -->
                        <br>

                        <!-- Image of the blog entry, if it has one. -->
                        {% with post.main_image as main_image %}
                            {% if main_image %}
                              <div class="entry-img">
                                  {#                            <img src="{% static 'flexstart/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">#}
{#                                {% image main_image fill-160x100 class="img-fluid" %}#}
                                {% image main_image original class="img-fluid" %}
                              </div>

                            {% endif %}
                        {% endwith %}



                        <!-- Text and Description of the Blog Entry. -->
                        <div class="entry-content">

                            <!-- Short, 1 line description of the blog entry. -->
                            {{ post.intro }}

                            <!-- Entire text of the blog entry. -->
                            <p>
                              {{ post.body|richtext }}
                            </p>

                            <!-- "Read more" link, which is a redundant link to make you go to the detailed view of the
                            post.

                            It's redundant for UX reasons. The title of the blog entry already has a link to the
                            detailed view of the post.
                            -->
                            <div class="read-more">
                              <a href="{% pageurl post %}">Read More</a>
                            </div>
                        </div>

                        {#                        <div class="entry-meta">#}
                        {#                            <ul>#}
                        {#                              <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>#}
                        {#                              <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}



                    </article><!-- End of the blog entry -->

                {% endwith %}
            {% endfor %}

            {#            <!-- Article (a blog entry). -->#}
            {#            <article class="entry">#}
            {##}
            {#              <div class="entry-img">#}
            {#                <img src="{% static 'flexstart/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">#}
            {#              </div>#}
            {##}
                            {#                {% if site_root %}#}
            {#              <h2 class="entry-title">#}
            {#                <a href="#">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>#}
            {#              </h2>#}
                            {#                {% endif %}#}
            {##}
            {#              <div class="entry-meta">#}
            {#                <ul>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
            {#                </ul>#}
            {#              </div>#}
            {##}
            {#              <div class="entry-content">#}
            {#                <p>#}
            {#                  Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.#}
            {#                  Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.#}
            {#                </p>#}
            {#                <div class="read-more">#}
            {#                  <a href="blog-single.html">Read More</a>#}
            {#                </div>#}
            {#              </div>#}
            {##}
            {#            </article><!-- End of the blog entry -->#}
            {##}
            {#            <article class="entry">#}
            {##}
            {#              <div class="entry-img">#}
            {#                <img src="{% static 'flexstart/assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">#}
            {#              </div>#}
            {##}
            {#              <h2 class="entry-title">#}
            {#                <a href="blog-single.html">Nisi magni odit consequatur autem nulla dolorem</a>#}
            {#              </h2>#}
            {##}
            {#              <div class="entry-meta">#}
            {#                <ul>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
            {#                </ul>#}
            {#              </div>#}
            {##}
            {#              <div class="entry-content">#}
            {#                <p>#}
            {#                  Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint ullam quis illum voluptatum et. Quo libero rerum voluptatem pariatur nam.#}
            {#                  Ad impedit qui officiis est in non aliquid veniam laborum. Id ipsum qui aut. Sit aliquam et quia molestias laboriosam. Tempora nam odit omnis eum corrupti qui aliquid excepturi molestiae. Facilis et sint quos sed voluptas. Maxime sed tempore enim omnis non alias odio quos distinctio.#}
            {#                </p>#}
            {#                <div class="read-more">#}
            {#                  <a href="blog-single.html">Read More</a>#}
            {#                </div>#}
            {#              </div>#}
            {##}
            {#            </article><!-- End blog entry -->#}
            {##}
            {#            <article class="entry">#}
            {##}
            {#              <div class="entry-img">#}
            {#                <img src="{% static 'flexstart/assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">#}
            {#              </div>#}
            {##}
            {#              <h2 class="entry-title">#}
            {#                <a href="blog-single.html">Possimus soluta ut id suscipit ea ut. In quo quia et soluta libero sit sint.</a>#}
            {#              </h2>#}
            {##}
            {#              <div class="entry-meta">#}
            {#                <ul>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
            {#                </ul>#}
            {#              </div>#}
            {##}
            {#              <div class="entry-content">#}
            {#                <p>#}
            {#                  Aut iste neque ut illum qui perspiciatis similique recusandae non. Fugit autem dolorem labore omnis et. Eum temporibus fugiat voluptate enim tenetur sunt omnis.#}
            {#                  Doloremque est saepe laborum aut. Ipsa cupiditate ex harum at recusandae nesciunt. Ut dolores velit.#}
            {#                </p>#}
            {#                <div class="read-more">#}
            {#                  <a href="blog-single.html">Read More</a>#}
            {#                </div>#}
            {#              </div>#}
            {##}
            {#            </article><!-- End blog entry -->#}
            {##}
            {#            <article class="entry">#}
            {##}
            {#              <div class="entry-img">#}
            {#                <img src="{% static 'flexstart/assets/img/blog/blog-4.jpg' %}" alt="" class="img-fluid">#}
            {#              </div>#}
            {##}
            {#              <h2 class="entry-title">#}
            {#                <a href="blog-single.html">Non rem rerum nam cum quo minus. Dolor distinctio deleniti explicabo eius exercitationem.</a>#}
            {#              </h2>#}
            {##}
            {#              <div class="entry-meta">#}
            {#                <ul>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>#}
            {#                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>#}
            {#                </ul>#}
            {#              </div>#}
            {##}
            {#              <div class="entry-content">#}
            {#                <p>#}
            {#                  Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.#}
            {#                  Quia sed sunt. Ea asperiores expedita et et delectus voluptates rerum. Id saepe ut itaque quod qui voluptas nobis porro rerum. Quam quia nesciunt qui aut est non omnis. Inventore occaecati et quaerat magni itaque nam voluptas. Voluptatem ducimus sint id earum ut nesciunt sed corrupti nemo.#}
            {#                </p>#}
            {#                <div class="read-more">#}
            {#                  <a href="blog-single.html">Read More</a>#}
            {#                </div>#}
            {#              </div>#}
            {##}
            {#            </article><!-- End blog entry -->#}

            {#            <div class="blog-pagination">#}
            {#              <ul class="justify-content-center">#}
            {#                <li><a href="#">1</a></li>#}
            {#                <li class="active"><a href="#">2</a></li>#}
            {#                <li><a href="#">3</a></li>#}
            {#              </ul>#}
            {#            </div>#}

          </div><!-- End of the div with the entire List of the Blog Entries  -->





          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">

                <!-- Search Form.

                 This will redirect to the "search" URL, which is the URL of the search view, and show the user the
                 results of the search. This was created using Wagtail snippets.
                 -->
                <form action="{% url 'search' %}" method="get">
                    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>

                    <!-- Magnifying glass button to make the Search -->
                    <button type="submit"><i class="bi bi-search"></i></button>
                    {#                    <input type="submit" value="Search" class="button">#}
                </form>

                {#                <form action="">#}
                {#                  <input type="text">#}
                {#                  <button type="submit"><i class="bi bi-search"></i></button>#}
                {#                </form>#}
              </div><!-- End sidebar search formn -->

                {#              <!-- Categories. I MAY REMOVE THIS FUNCTIONALITY FROM THE FINAL VERSION OF THE WEB APP. -->#}
                {#              <h3 class="sidebar-title">Categories</h3>#}
                {#              <div class="sidebar-item categories">#}
                {#                <ul>#}
                {#                  <li><a href="#">General <span>(25)</span></a></li>#}
                {#                  <li><a href="#">Lifestyle <span>(12)</span></a></li>#}
                {#                  <li><a href="#">Travel <span>(5)</span></a></li>#}
                {#                  <li><a href="#">Design <span>(22)</span></a></li>#}
                {#                  <li><a href="#">Creative <span>(8)</span></a></li>#}
                {#                  <li><a href="#">Educaion <span>(14)</span></a></li>#}
                {#                </ul>#}
                {#              </div><!-- End sidebar categories-->#}

              <!-- Recent Posts.

               The ' |slice:":5" ' filder is used to limit the number of items processed in the for loop to the first 5
               items in blogpages. That way, only 5 blog entries will be printed from the database. And they just so
               happen to be the 5 most recent blog entries.

               I added an "else" statement with a placeholder image that will be displayed when a blog post does not
               have an associated image.
               -->
              <h3 class="sidebar-title">Recent Posts</h3>

              <!-- Div with the Recent Posts -->
              <div class="sidebar-item recent-posts">

                <!-- "For" loop with Each of the Recent Posts -->
                {% for post in blogpages|slice:":5" %}
                    {% with post=post.specific %}
                        <!-- Article (a blog entry). -->
                        <div class="post-item clearfix">

                            <!-- Image of the blog entry, if it has one. -->
                            {% with post.main_image as main_image %}
                                {% if main_image %}
                                  <div class="entry-img">
                                    {% image main_image fill-160x100 class="img-fluid" %}
                                  </div>

                                {% else %}
                                    <!-- Placeholder image in case the blog entry doesn't have an image. -->
                                    <div class="entry-img">
                                        <img src="{% static 'flexstart/assets/custom-img/blank-profile-picture.png' %}"
                                             alt="Placeholder image" class="img-fluid">
                                    </div>

                                {% endif %}
                            {% endwith %}

                            <!-- Title of the blog entry with a link to that entry -->
                            <h4 class="entry-title">
                                <a href="{% pageurl post %}">{{ post.title }}</a>
                            </h4>
                            <!-- This fixes the bug that makes the images to cover the titles of the Blog Entries. -->
                            <br>

                        </div><!-- End of the blog entry -->

                    {% endwith %}
                {% endfor %} <!-- End of the "For" loop with the Recent Posts -->


                {#                <div class="post-item clearfix">#}
                {#                  <img src="{% static 'flexstart/assets/img/blog/blog-recent-1.jpg' %}" alt="">#}
                {#                  <h4><a href="blog-single.html">Nihil blanditiis at in nihil autem</a></h4>#}
                {#                  <time datetime="2020-01-01">Jan 1, 2020</time>#}
                {#                </div>#}
                {##}
                {#                <div class="post-item clearfix">#}
                {#                  <img src="{% static 'flexstart/assets/img/blog/blog-recent-2.jpg' %}" alt="">#}
                {#                  <h4><a href="blog-single.html">Quidem autem et impedit</a></h4>#}
                {#                  <time datetime="2020-01-01">Jan 1, 2020</time>#}
                {#                </div>#}
                {##}
                {#                <div class="post-item clearfix">#}
                {#                  <img src="{% static 'flexstart/assets/img/blog/blog-recent-3.jpg' %}" alt="">#}
                {#                  <h4><a href="blog-single.html">Id quia et et ut maxime similique occaecati ut</a></h4>#}
                {#                  <time datetime="2020-01-01">Jan 1, 2020</time>#}
                {#                </div>#}
                {##}
                {#                <div class="post-item clearfix">#}
                {#                  <img src="{% static 'flexstart/assets/img/blog/blog-recent-4.jpg' %}" alt="">#}
                {#                  <h4><a href="blog-single.html">Laborum corporis quo dara net para</a></h4>#}
                {#                  <time datetime="2020-01-01">Jan 1, 2020</time>#}
                {#                </div>#}
                {##}
                {#                <div class="post-item clearfix">#}
                {#                  <img src="{% static 'flexstart/assets/img/blog/blog-recent-5.jpg' %}" alt="">#}
                {#                  <h4><a href="blog-single.html">Et dolores corrupti quae illo quod dolor</a></h4>#}
                {#                  <time datetime="2020-01-01">Jan 1, 2020</time>#}
                {#                </div>#}

              </div><!-- End of the Recent Posts div -->

              <!-- Tags.

              I'll use the tags that are generated using Wagtail.
              -->
              <h3 class="sidebar-title">Tags</h3>


              <!-- This div contains all the tags as buttons, and gives them their corresponding CSS styles -->
              <div class="sidebar-item tags">
                <ul>

                  <!-- Tags functionality, which was added using Wagtail.

                  The "for" loop within the "with" Jinja notation will iterate through all the tags of the blog entries
                  and will print them as buttons.
                  Each button will have a link to the "tags" URL, which is the URL of the tags view, and will show the
                  user the results of the search. This was created using Wagtail snippets.
                  -->
                  {% with tags=page.tags.all %}
                      {% if tags %}
                          <div class="tags">
                              {% for tag in tags %}
                                  <li>
                                      <a href="{% slugurl 'tags' %}?tag={{ tag }}">
                                        {#                                          <button type="button">{{ tag }}</button>#}
                                         {{ tag }}
                                      </a>
                                  </li>

                              {% endfor %}
                          </div>
                      {% endif %}
                  {% endwith %}



                    {#                  <li><a href="#">App</a></li>#}
                    {#                  <li><a href="#">IT</a></li>#}
                    {#                  <li><a href="#">Business</a></li>#}
                    {#                  <li><a href="#">Mac</a></li>#}
                    {#                  <li><a href="#">Design</a></li>#}
                    {#                  <li><a href="#">Office</a></li>#}
                    {#                  <li><a href="#">Creative</a></li>#}
                    {#                  <li><a href="#">Studio</a></li>#}
                    {#                  <li><a href="#">Smart</a></li>#}
                    {#                  <li><a href="#">Tips</a></li>#}
                    {#                  <li><a href="#">Marketing</a></li>#}
                </ul>
              </div><!-- End of the sidebar with the tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->



    </main><!-- End #main -->
{% endblock %}
