<!-- Template for all pages that use a form.

This template is used for the "Contact" page, which is a form page.

Source of some of this code: https://docs.wagtail.org/en/stable/tutorial/create_contact_page.html

-->

{#{% extends "base.html" %}#}

<!-- This is the layout file with the Styles for the Blog. -->
{% extends "blog-layout.html" %}


{% load wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}

    <!-- ======= Contact Section =======

    Here, I will put the Contect form, as well as some of my contect details.
    -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          {#          <h2>Contact</h2>#}
          {#          <p>Contact Me</p>#}
          <!-- This is the title of the page. -->
        <p>{{ page.title }}</p>
        </header>

        <!-- Bootstrap Grid of 1 row and 2 columns (1x2 grid).

        The left column will have 2 gray panels: one with my email, and one with my address.

        Meanwhile, the right column will have a form to send me a message.
        -->
        <div class="row gy-4">


            <!-- Short description of the form. I want it to be on top of both the Contact Form, and the panels with
            my address and email. That's why it needs to have a col-lg-12 class.
             -->
            <div class="col-lg-12">
                <p>{{ page.intro|richtext }}</p>
            </div>

          <!-- Left Column of the Giant Grid: Panels with my Address and my Email. -->
          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Las Palmas de Gran Canaria, <br>Canarias, Spain</p>
                </div>
              </div>

                {#              <div class="col-md-6">#}
                {#                <div class="info-box">#}
                {#                  <i class="bi bi-telephone"></i>#}
                {#                  <h3>Call Us</h3>#}
                {#                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>#}
                {#                </div>#}
                {#              </div>#}

              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email</h3>
                  <p>
                      wistarrcompany@gmail.com
                      {#                      <br>contact@example.com#}
                  </p>
                </div>
              </div>

                {#              <div class="col-md-6">#}
                {#                <div class="info-box">#}
                {#                  <i class="bi bi-clock"></i>#}
                {#                  <h3>Open Hours</h3>#}
                {#                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>#}
                {#                </div>#}
                {#              </div>#}


            </div>  <!-- End of the Row of the 1x2 Grid with the Address and Email panels -->

          </div>    <!-- End of the Left Column of the Giant Grid. -->

          <!-- Right Column of the Grid: Form to send me a message. -->
          <div class="col-lg-6">


            {#          <form action="form.php" method="post" class="php-email-form">#}
            {#            <form method="post" class="php-email-form">#}
            <!-- This is the form itself.

             I want each form field to be rendered within a div with the class "col-md-6". This is to give a 1x2 grid to
             the form fields, so that the Name and the Email fields are in the same row.
             -->
            {#            <form class="php-email-form" action="{% pageurl page %}" method="post">#}
            <form action="{% pageurl page %}" method="post">
              {% csrf_token %}
              <div class="row gy-4">    <!-- This is the Row for the Contact Form's Grid  -->
                <!-- This renders each field of the form using Jinja -->
                {% for field in form %}
                    <div class="col-md-6">
                      {{ field.label_tag }}

                      {{ field }}
                    </div>
                {% endfor %}
                {#                {{ form.as_div }}#}

                {#                <div class="col-md-6">#}
                {#                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>#}
                {#                </div>#}
                {##}
                {#                <div class="col-md-6 ">#}
                {#                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>#}
                {#                </div>#}

                {#                <div class="col-md-12">#}
                {#                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>#}
                {#                </div>#}

                {#                <div class="col-md-12">#}
                {#                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>#}
                {#                </div>#}

                <div class="col-md-12 text-center">
                  {#                  <div class="loading">Loading</div>#}
                  {#                  <div class="error-message"></div>#}
                  {#                  <div class="sent-message">Your message has been sent. Thank you!</div>#}

                  <button type="submit">Submit</button>
                </div>

              </div>    <!-- End of the Row Contact Form's Grid (the small grid on the right)  -->
            </form>

          </div>    <!-- End of the Right Column of the Giant Grid. -->

        </div>

      </div>

    </section><!-- End Contact Section -->

    {#    <p>#}
    {#    ¿Esta es la Pagina del Contact Me?#}
    {#    </p>#}

    {#    <!-- This is the title of the page. -->#}
    {#    <h1>{{ page.title }}</h1>#}



    {#            <!-- This is the form itself. DELETE LATER. -->#}
    {#            <form class="page-form" action="{% pageurl page %}" method="post">#}
    {#                {% csrf_token %}#}
    {#                {{ form.as_div }}#}
    {#                <button type="submit">Submit</button>#}
    {#            </form>#}
{% endblock content %}
